@import "grid";
@import "palette";
@import "typeography";

body {
  color: $text_fg;
  background: $page_bg;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  @include ButtonType();
  
  padding: $gridV ($gridH * 2);
  
  border: none;
  border-radius: 3px;
  color: $white;
  
  background-color: $button_bg;
  
  &:hover {
    background-color: $button_bg_hi;
  }
}