$white: #fff;

$page_bg: #F8FBFF;
$text_fg: #848B98;
$orange: #F0AC78;

$page_shadow: #EDEDED;

$question_fg: #575b64;
$hint_fg: #aeb7c8;

$button_bg: #046380;
$button_bg_hi: #4888B1;

$img_border: #BEC5D0;