@import "grid";

$font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;

@mixin PageHeaderType() {
  font-family: $font-stack;
  font-size: $gridH * 3;
  font-weight: 200;
  letter-spacing: .1rem;
}

@mixin QuizHeaderType() {
  font-family: $font-stack;
  font-size: $gridH * 3;
  font-weight: normal;
}

@mixin QuestionTextType() {
  font-family: $font-stack;
  font-size: $gridH * 3;
  font-weight: bold;
}

@mixin MultiOptionType() {
  font-family: $font-stack;
  font-size: $gridH * 2;
  font-weight: normal;
}

@mixin ButtonType() {
  font-family: $font-stack;
  font-size: $gridH * 2;
  font-weight: normal;
}