@import "../styling/grid";
@import "../styling/palette";
@import "../styling/typeography";

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  button {
    margin-right: 2 * $gridH;
    
    &:last-child {
      margin-right: 0;
    }
  }
}