@import "../styling/grid";
@import "../styling/palette";
@import "../styling/typeography";

.multiSelectForm {
  @include MultiOptionType();
  
  display: flex;
  flex-direction: column;
  align-content: center;
  
  .multiSelectOptions {
    width: 70%;
    
    input[type=checkbox] {
      background-color: $button_bg;
      color: $white;
    }
  }
  
  .prompt {
    color: $hint_fg;
    text-align: right;
    margin-top: $gridV * 2;
  }
  
  .continue {
    text-align: right;
    margin-top: $gridV * 2;
  }
}