@import "../styling/grid";
@import "../styling/palette";
@import "../styling/typeography";

.pageHeader {
  $height: $gridV * 7;
  
  @include PageHeaderType();
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: $height;
  line-height: $height;
  text-align: center;

  background: $page_bg;
  z-index: 1;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);

  &::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background: linear-gradient(90deg, transparentize($page_bg, 1) 15%, $orange, transparentize($page_bg, 1) 85%);
  }

  &::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    margin-top: 1px;
    background: linear-gradient(90deg, transparentize($page_bg, 1) 15%, #ffffff, transparentize($page_bg, 1) 85%);
  }  
}


