@import "../styling/grid";
@import "../styling/palette";
@import "../styling/typeography";

.question {
  $width: $gridH * 96;

  @include QuestionTextType();

  margin-top: $gridH * 4;

  width: $width;

  margin-left: auto;
  margin-right: auto;
  
  padding: $gridH * 3;
  
  border: 1px solid $img_border;
  
  box-shadow: 0 40px 30px -30px rgba(0,0,0,0.2);
  
  background-color: $white;
  
  .questionText {
    font-size: $gridV * 3;
    font-weight: bold;
    padding-bottom: 2 * $gridV;
  }
  
  .responderCtrls {
    padding-top: 2 * $gridV;    
    border-top: 1px solid $img_border;
    
    input[type=checkbox] {
      margin-right: 2*$gridH;
    }
  }
}